<h1>Hello {{ name }}</h1>
<!-- <div class="wrapper"> -->
<div class="gauge">
  <div class="customNeedle"></div>
  <div class="slice-colors">
    <!-- <div class="st slice-item"></div> -->
    <!-- <div class="st slice-item"></div>
  <div class="st slice-item"></div> -->
    <!-- <div class="st slice-item"></div>
  <div class="st slice-item"></div> -->
  </div>
  <!-- <div class="needle"></div> -->
  <!-- <div class="customNeedle"></div> -->
  <div class="gauge-center"></div>
</div>
<!-- </div> -->
